---
# Copy to vault.yml and encrypt:  ansible-vault encrypt vault.yml
# Then reference these vars from non-vault files.
vault_manager_cluster_key: "CHANGE_ME_32_CHAR_HEX_KEY________"
vault_indexer_admin_password: "CHANGE_ME"
vault_dashboard_admin_password: "CHANGE_ME"
vault_wazuh_api_password: "CHANGE_ME"
